
/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    background-color: rgb(237, 236, 236); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
    box-shadow: 10px 10px 20px #b6b6b6;
    right:0;
  }
  
  
  
  /* The sidebar links */
  .sidebar a {
    text-decoration: none;
    font-size: 48px;
    padding: 8px 8px 8px 32px;
    color: rgb(110, 110, 110);
    display: block;
    transition: 0.3s;
    z-index: 1;
    font-weight: 900;
    font-style: normal;
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
   font-weight: 300;
    
    /*font-family: 'Signika Negative', sans-serif;*/
    
    
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #696868;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  
  